# Tugas 3 Data Warehouse
Nurul Jannah (11160940000080)

In [30]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [31]:
#a Membuat database

conn = psycopg2.connect(database = "postgres", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

dabes = "kantor"

conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = conn.cursor()

cur.execute("CREATE DATABASE " + dabes)
print("Berhasil membuat database")

Berhasil membuat database

In [32]:
#b Membuat tabel Karyawan

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Sukses membuka database")

cur.execute('''
CREATE TABLE IF NOT EXISTS Karyawan
(
    Nomor_induk VARCHAR(10) PRIMARY KEY NOT NULL,
    Nama VARCHAR(30) NOT NULL,
    Alamat TEXT NOT NULL,
    Tanggal_lahir DATE NOT NULL,
    Tanggal_masuk DATE NOT NULL
);
''')

conn.commit()
print("Tabel berhasil dibuat")

Sukses membuka database
Tabel berhasil dibuat

In [33]:
#b Membuat tabel Cuti Karyawan

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Sukses membuka database")

cur.execute('''
CREATE TABLE IF NOT EXISTS Cuti_Karyawan
(
    ID serial PRIMARY KEY NOT NULL,
    Nomor_induk VARCHAR(10) NOT NULL
    REFERENCES Karyawan(Nomor_induk),
    Tanggal_mulai DATE NOT NULL,
    Lama_cuti SMALLINT NOT NULL,
    Keterangan TEXT NOT NULL
);
''')

conn.commit()
print("Tabel berhasil dibuat")

Sukses membuka database
Tabel berhasil dibuat

In [35]:
#c Mengisi tabel Karyawan

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Sukses membuka database")

cur.execute('''
INSERT INTO Karyawan (Nomor_induk, Nama, Alamat, Tanggal_lahir, Tanggal_masuk) VALUES
('IP06001', 'Agus', 'Jln. Gajah Mada 115A, Jakarta Pusat', '1970-08-01', '2006-07-07'),
('IP06002', 'Amin', 'Jln. Bungur Sari V No. 178, Bandung', '1977-05-03', '2006-07-07'),
('IP06003', 'Yusuf', 'Jln. Yosodpuro 15, Surabaya', '1973-08-09', '2006-07-07'),
('IP07004', 'Alyssa', 'Jln. Cendana No. 6 Bandung', '1983-02-14', '2007-01-05'),
('IP07005', 'Maulana', 'Jln. Ampera Raya No. 1', '1985-10-10', '2007-02-05'),
('IP07006', 'Afika', 'Jln. Pejaten Barat No. 6A', '1987-03-09', '2007-06-09'),
('IP07007', 'James', 'Jln. Padjadjaran No. 111, Bandung', '1988-05-19', '2007-06-09'),
('IP09008', 'Octavanus', 'Jln. Gajah Mada 101, Semarang', '1988-10-07', '2008-08-08'),
('IP09009', 'Nugroho', 'Jln. Duren Tiga 196, Jakarta Selatan', '1988-01-20', '2008-11-11'),
('IP090010', 'Raisa', 'Jln. Nangka Jakarta Selatan', '1989-12-29', '2009-02-09');
''')

conn.commit()
print("Data tersimpan dengan baik")

Sukses membuka database
Data tersimpan dengan baik

In [37]:
#c Mengisi tabel Cuti Karyawan

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Sukses membuka database")

cur.execute('''
INSERT INTO Cuti_Karyawan (ID, Nomor_induk, Tanggal_mulai, Lama_cuti, Keterangan) VALUES
(1, 'IP06001', '2012-02-01', 3, 'Acara Keluarga'),
(2, 'IP06001', '2012-02-13', 2, 'Anak sakit'),
(3, 'IP07007', '2012-02-15', 1, 'Nenek sakit'),
(4, 'IP06003', '2012-02-17', 1, 'Mendaftar sekolah anak'),
(5, 'IP07006', '2012-02-20', 5, 'Menikah'),
(6, 'IP07004', '2012-02-27', 1, 'Imunisasi anak');
''')

conn.commit()
print("Data tersimpan dengan baik")

Sukses membuka database
Data tersimpan dengan baik

In [1]:
#d Menentukan karyawan yang pertama kali masuk (bergabung)

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Sukses membuka database")

cur.execute("SELECT Nomor_induk, Nama, Tanggal_masuk from KARYAWAN ORDER BY Tanggal_masuk ASC LIMIT 4")
data = cur.fetchall()
for user in data :
    print(user)

Sukses membuka database
('IP06001', 'Agus', datetime.date(2006, 7, 7))
('IP06003', 'Yusuf', datetime.date(2006, 7, 7))
('IP06002', 'Amin', datetime.date(2006, 7, 7))
('IP07004', 'Alyssa', datetime.date(2007, 1, 5))

In [3]:
#e Menentukan karyawan yang terakhir kali masuk (bergabung)

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Sukses membuka database")

cur.execute("SELECT Nomor_induk, Nama, Tanggal_masuk from KARYAWAN ORDER BY Tanggal_masuk DESC LIMIT 2")
data = cur.fetchall()
for user in data :
    print(user)

Sukses membuka database
('IP090010', 'Raisa', datetime.date(2009, 2, 9))
('IP09009', 'Nugroho', datetime.date(2008, 11, 11))

In [12]:
#f Menentukan karyawan yang paling banyak cuti beserta keterangannya

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Berhasil membuka database")

cur.execute('''
SELECT NK.Nama, c.MAX, Cuti_Karyawan.Keterangan
FROM
    (SELECT MAX(Lama_cuti) as MAX
    FROM Cuti_Karyawan) c
JOIN Cuti_Karyawan on c.MAX = Cuti_Karyawan.Lama_cuti
JOIN KARYAWAN NK on Cuti_Karyawan.Nomor_induk = NK.Nomor_induk
''')

print("Berikut nama karyawan dengan cuti terlama beserta keterangannya :")
data = cur.fetchall()
for user in data :
    print(user)

Berhasil membuka database
Berikut nama karyawan dengan cuti terlama beserta keterangannya :
('Afika', 5, 'Menikah')

In [17]:
#g Menentukan nama karyawan yang memiliki umur paling tua

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Berhasil membuka database")

cur.execute("SELECT Nama FROM Karyawan ORDER BY Tanggal_lahir ASC LIMIT 1")

data = cur.fetchall()
for user in data :
    print(user)

Berhasil membuka database
('Agus',)

In [18]:
#h Menentukan nama karyawan yang memiliki umur paling muda

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Berhasil membuka database")

cur.execute("SELECT Nama FROM Karyawan ORDER BY Tanggal_lahir DESC LIMIT 1")

data = cur.fetchall()
for user in data :
    print(user)

Berhasil membuka database
('Raisa',)

In [1]:
#i Menentukan nama-nama karyawan yang paling dulu masuk kerja setelah cuti

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Berhasil membuka database")

cur.execute('''
SELECT Nama, Tanggal_mulai + Lama_cuti as Tanggal_masuk FROM Cuti_Karyawan
JOIN Karyawan on Karyawan.Nomor_induk = Cuti_Karyawan.Nomor_induk
ORDER BY Tanggal_masuk ASC LIMIT 1
''')

print("Berikut nama-nama karyawan yang paling dulu masuk kerja setelah cuti :")
data = cur.fetchall()
for user in data :
    print(user)

Berhasil membuka database
Berikut nama-nama karyawan yang paling dulu masuk kerja setelah cuti :
('Agus', datetime.date(2012, 2, 4))

In [3]:
#j Menentukan total cuti yang diambil para karyawan

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Berhasil membuka database")

cur.execute("SELECT SUM(Lama_cuti) FROM Cuti_Karyawan")


data = cur.fetchall()
for user in data :
    print("Total cuti yang diambil para karyawan adalah sebanyak",user[0],"hari")

Berhasil membuka database
Total cuti yang diambil para karyawan adalah sebanyak 13 hari

In [8]:
#k Menentukan nama-nama karyawan yang tidak mengambil cuti

import psycopg2

conn = psycopg2.connect(database = "kantor", user = "postgres", password = "NurulNurul", host = "localhost", port = "5432")
cur = conn.cursor()

print("Berhasil membuka database")

cur.execute('''
SELECT Nama, Nomor_induk FROM Karyawan WHERE NOT EXISTS 
    (SELECT Nomor_induk FROM Cuti_Karyawan WHERE Cuti_Karyawan.Nomor_induk = Karyawan.Nomor_induk);
''')

print("Berikut nama-nama karyawan yang tidak mengambil cuti :")
data = cur.fetchall()
for user in data :
    print(user[0])

Berhasil membuka database
Berikut nama-nama karyawan yang tidak mengambil cuti :
Amin
Maulana
Octavanus
Nugroho
Raisa